.main-k {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}
.main-analytics {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    background-color: #f3f3f3;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin: 15px 15px 15px 15px;
    border-radius: 25px;
}
.search-analytics {
    display: flex;
    justify-content: center;
    height: 20vh;
    background-color: #ef9d10;

    border-style: solid;
    border-color: white;
}
.dashboard-analytics {
    display: flex;
    justify-content: center;
    height: 45vh;
    // background-color: #3b4d61;
    // border-style: solid;
    // border-color: white;
}
.d-number {
    // width: 100%;
    // border-style: solid;
    // border-color: white;
}
.d-line {
    // width: 100%;
    // border-style: solid;
    // border-color: white;
}
.table-analytics {
    // display: flex;
    // justify-content: center;
    // height: 30vh;
    // background-color: #6b7b8c;

    // border-style: solid;
    // border-color: white;
}
.sidenav-analytics {
    background-color: #ffffe5;
    width: 15vw;
    border-radius: 25px;
}
.sidenav-input {
    margin-top: 2vh;
}

nz-button-group {
    margin: 0 8px 8px 0;
  }
nz-select {
    width: 100%;
  }
.setting {
    padding-top: 10px;
}