<div class="activity-detail" *ngIf="activity$ | async as activity">

<div class="card">
  <header class="card-header">
    <p>{{activity.craetedAt}}</p>
    <h2>{{activity.title}}</h2>
    <span>{{activity.description}}</span>
  </header>

  <div class="card-author">
   
  </div>
  
  <div class="tags">
    <ul class="photo">
      <li class="photo__item">
        <span class="photo__substrate">+2</span>
      </li>
      <li class="photo__item">
        <img
          src="../../../../assets/img/julian-wan-WNoLnJo7tS8-unsplash.jpg"
          alt="Jack's photo"
        />
      </li>
      <li class="photo__item">
        <img
          src="../../../../assets/img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
          alt="Jessica's photo"
        />
      </li>
    </ul>
  </div>
</div>
<div class="activity-comments">
  <div class="profile-thumb">
    <img
        class="profile-thumb__photo"
        src="../../../../assets/img/kristan.jpg"
        alt="Profile photo"
    />
    <h1 class="profile-thumb__name">{{activity.username}}</h1>
  </div>
  <div class="profile-comment-list" >
    <div class="single-comment">
      <ul class="li-comment" *ngFor="let msg of comments$ | async">
        <div class="box" >
          <div class="imgBx">
           <img class="comment-thumb"
            src="../../../../assets/img/kristan-thumbnail.jpg"
            alt="Profile photo"
             />
          </div> 
          <div class="content">
            <span class="msg-username">
              {{msg.userName}}
            </span>
            &nbsp;
            <span class="msg-body">{{msg.body}}</span>
          </div> 
        </div>
      </ul>
    </div>
  </div>
  <div class="profile-comment">
    <form class="addComment" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)" (keyup.enter)="submitForm(validateForm)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your title!">
          <textarea nz-input placeholder="add Comment" [nzAutosize]="{ minRows: 2}" maxlength="140" formControlName="body"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
</div>
