<h4>Orders</h4>

<nz-table
nzShowSizeChanger
[nzData]="orders"
[nzFrontPagination]="false"
[nzLoading]="loading"
[nzTotal]="total"
[nzPageSize]="pageSize"
[nzPageIndex]="pageIndex"
(nzQueryParams)="onQueryParamsChange($event)"
>
<thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th nzColumnKey="status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of orders">
    <td>{{ data.customer_id}}</td>
    <td>{{ data.date_created_gmt}}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.total }}</td>
  </tr>
</tbody>
</nz-table>