<div class="main-k">
    <div class="sidenav-analytics">
        <div class="sidenav-input">
            <h2>DocDate</h2>
            <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
            <button class="b-forward" (click)="onClickDate()" nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
            <br>
            <br>
            <h2>Category</h2>
            <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="Please select"
                [(ngModel)]="selectedCategories"
            >
            <nz-option *ngFor="let item of categories" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
            <button class="b-forward" (click)="onClick()" nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
            <h2>Brand</h2>
            <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="Please select"
                [(ngModel)]="selectedBrands"
            >
            <nz-option *ngFor="let item of brands" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
            <button class="b-forward" (click)="onClickBrand()" nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
            <h2>Manager</h2>
            <nz-select
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="multiple"
                nzPlaceHolder="Please select"
                [(ngModel)]="selectedManagers"
            >
            <nz-option *ngFor="let item of managers" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
            <button class="b-forward" (click)="onClickManager()" nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
        </div>
    </div>
    <div class="main-analytics">
        <div class="two">
            <app-k-bubble [bubbleDatus]="bubbleDatus"></app-k-bubble>
        </div>
    </div>
    <div class="sidenav-analytics">
        <div *ngIf="data">
            <h1>{{header}}</h1>
            <nz-table #basicTable [nzData]="data">
                <thead>
                  <tr>
                    <th>SLOC</th>
                    <th>ATP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.sLoc }}</td>
                    <td>{{ data.atp }}</td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>


