<h4>Customers</h4>
    <nz-table #middleTable nzSize="middle" [nzData]="customers" *ngIf="customers else loading">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Date</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of middleTable.data">
          <td>{{ data.last_name }}</td>
          <td>{{ data.first_name }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.email }}</td>  
        </tr>
      </tbody>
    </nz-table>
    <ng-template #loading>
        <nz-spin nzTip="Loading...">
          <nz-alert nzType="info" nzMessage="Roger that!" nzDescription="Highly trained monkeys are still retrieving your data"> </nz-alert>
        </nz-spin>
    </ng-template>