.main-div{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 1vh auto;
    // padding: 12px;
    background-color:#6039ac;
    height: 100vh;
    border-radius: 25px;
}
.gtin-div{
    width: 30vw;
    margin: 0 auto;
    background-color:#6039ac;
}

input[type=text] {
    border: 1px solid black!important;
    position: relative;
    display: block;
    width: 10vw;
    margin: 0 auto!important;
}

.div-half-1{
    width: 50%;
    height: 49vh;
    padding: 0px;
    overflow: auto;
    background-color: white;

    border-radius: 25px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    // border-style: solid;
}
// input[type="text"] {
//     padding: 5px;
//     margin:10px auto;
//     box-sizing: border-box;
//     border: none;
//     background-color: white;
//     color:black;
// }


.div-half-2{
    width: 50%;
    height: 100%;
    float: left;
    padding: 12px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}

.box-1{
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 4px;
    margin-top: 6%;
}

.box-2{
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 4px;
    margin-top: 6%;
}
.presyo {
    margin-top: 10vh;
}
.example-input1 {
    // background-color: green;
    width: 65%;
    // align-self: center;
}
.example-input2 {
    // background-color:blue;
    width: 35%;
    // align-self: flex-start;
}
.price {
    background-color:yellow;
    // width: 40%;
    // align-self: flex-start;
}
/* responsive divi */
.certain-search-item-count {
    position: absolute;
    color: #999;
    right: 16px;
  }

  .more-link {
    float: right;
  }