<div class="wrapper">
    <nav class="nav">
      <ul class="nav__list" role="menubar">
        <li class="nav__item nav__item--isActive">
          <a
            href="#"
            class="nav__link focus--box-shadow"
            role="menuitem"
            aria-label="Home"
          >
            <svg
              class="nav__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                fill="#6563ff"
                d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z"
              />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a
          [routerLink]="['/woo/woo']"
            class="nav__link focus--box-shadow"
            role="menuitem"
            aria-label="Favorite projects"
          >
            <svg
              class="nav__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"
              />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link focus--box-shadow"
            role="menuitem"
            aria-label="Informational messages"
            ><svg
              class="nav__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M12,11a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V12A1,1,0,0,0,12,11Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,12,8Zm0-6A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,.3-.71,1,1,0,0,0-.3-.7A8,8,0,1,1,12,20Z"
              />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link focus--box-shadow"
            role="menuitem"
            aria-label="Collections"
          >
            <svg
              class="nav__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M2.5,10.56l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,0-1.73l-9-5.2a1,1,0,0,0-1,0l-9,5.2a1,1,0,0,0,0,1.73ZM12,5.65l7,4-7,4.05L5,9.69Zm8.5,7.79L12,18.35,3.5,13.44a1,1,0,0,0-1.37.36,1,1,0,0,0,.37,1.37l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,.37-1.37A1,1,0,0,0,20.5,13.44Z"
              />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a
            href="#"
            class="nav__link focus--box-shadow"
            role="menuitem"
            aria-label="Analytics"
          >
            <svg
              class="nav__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M6,13H2a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H6a1,1,0,0,0,1-1V14A1,1,0,0,0,6,13ZM5,21H3V15H5ZM22,9H18a1,1,0,0,0-1,1V22a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V10A1,1,0,0,0,22,9ZM21,21H19V11h2ZM14,1H10A1,1,0,0,0,9,2V22a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V2A1,1,0,0,0,14,1ZM13,21H11V3h2Z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <section class="section">
        <header class="section__header">
          <h2 class="section__title">Home</h2>
          <div class="section__control">
            <button
              class="section__button section__button--painted focus--box-shadow"
              type="button"
              (click)="showModal2()"
              aria-label="Add New project"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                role="presentation"
              >
                <path
                  d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"
                />
              </svg>
            </button>
          </div>
        </header>
      <ul class="project">
        <li class="project__item" *ngFor="let activity of activities$ | async">
          <a class="project__link focus--box-shadow">
            <div class="project__wrapper">
              <div class="project__element project__icon">
                <div
                  class="icon icon--viking"
                  aria-label="Icon of the 'Showcase Design' project"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    role="presentation"
                  >
                    <path
                      d="M7,10H9A1,1,0,0,0,9,8H7a1,1,0,0,0,0,2ZM21,4H13V3a1,1,0,0,0-2,0V4H3A1,1,0,0,0,2,5V15a3,3,0,0,0,3,3H9.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L11,19.41V21a1,1,0,0,0,2,0V19.41l2.29,2.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L14.41,18H19a3,3,0,0,0,3-3V5A1,1,0,0,0,21,4ZM20,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V6H20ZM7,14h6a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z"
                    />
                  </svg>
                </div>
              </div>
              <div class="project__element project__inform">
                <a [routerLink]="activity.id">
                <span class="project__inform-name">
                    <h1>{{activity.title}}</h1>
                    <p>{{activity.description}}</p>
               </span>
              </a>
              </div>
              <div class="project__element project__photo">
                <ul class="photo">
                  <li class="photo__item">
                    <span class="photo__substrate">+2</span>
                  </li>
                  <li class="photo__item">
                    <img
                      src="../../../../assets/img/julian-wan-WNoLnJo7tS8-unsplash.jpg"
                      alt="Jack's photo"
                    />
                  </li>
                  <li class="photo__item">
                    <img
                      src="../../../../assets/img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
                      alt="Kristan's photo"
                    />
                  </li>
                </ul>
              </div>
              <div class="project__element project__date">
                <time class="date" datetime="2020-05-05T10:00:00"
                  >{{activity.createdAt}}</time
                >
              </div>
              <div class="project__element project__action">
                <svg class="kristan-user-nav__icon">
                  <path d="M4.254 19.567c0.307-0.982 0.77-2.364 1.391-4.362 2.707-0.429 3.827 0.341 5.546-2.729-1.395 0.427-3.077-0.792-2.987-1.321s3.913 0.381 6.416-3.173c-3.155 0.696-4.164-0.836-3.757-1.067 0.939-0.534 3.726-0.222 5.212-1.669 0.766-0.745 1.125-2.556 0.813-3.202-0.374-0.781-2.656-1.946-3.914-1.836s-3.231 4.79-3.817 4.754c-0.584-0.037-0.703-2.098 0.319-4.013-1.077 0.477-3.051 1.959-3.67 3.226-1.153 2.357 0.108 7.766-0.296 7.958s-1.766-2.481-2.172-3.694c-0.555 1.859-0.568 3.721 1.053 6.194-0.611 1.623-0.945 3.491-0.996 4.441-0.024 0.759 0.724 0.922 0.859 0.493z"></path>
                </svg>
                <svg class="kristan-user-nav__icon">
                  <path d="M18.64 2.634c-0.344 0.121-17.321 6.104-17.656 6.222-0.284 0.1-0.347 0.345-0.010 0.479 0.401 0.161 3.796 1.521 3.796 1.521v0l2.25 0.901c0 0 10.838-7.958 10.984-8.066 0.148-0.108 0.318 0.095 0.211 0.211s-7.871 8.513-7.871 8.513v0.002l-0.452 0.503 0.599 0.322c0 0 4.65 2.504 4.982 2.682 0.291 0.156 0.668 0.027 0.752-0.334 0.099-0.426 2.845-12.261 2.906-12.525 0.079-0.343-0.148-0.552-0.491-0.431zM7 17.162c0 0.246 0.139 0.315 0.331 0.141 0.251-0.229 2.85-2.561 2.85-2.561l-3.181-1.644v4.064z"></path>
                </svg>
                <svg class="kristan-user-nav__icon">
                  <path d="M17.19 4.155c-1.672-1.534-4.383-1.534-6.055 0l-1.135 1.042-1.136-1.042c-1.672-1.534-4.382-1.534-6.054 0-1.881 1.727-1.881 4.52 0 6.246l7.19 6.599 7.19-6.599c1.88-1.726 1.88-4.52 0-6.246z"></path>
                </svg>
                <svg class="kristan-user-nav__icon">
                  <path d="M8 12h4v-6h3l-5-5-5 5h3v6zM19.338 13.532c-0.21-0.224-1.611-1.723-2.011-2.114-0.265-0.259-0.644-0.418-1.042-0.418h-1.757l3.064 2.994h-3.544c-0.102 0-0.194 0.052-0.24 0.133l-0.816 1.873h-5.984l-0.816-1.873c-0.046-0.081-0.139-0.133-0.24-0.133h-3.544l3.063-2.994h-1.756c-0.397 0-0.776 0.159-1.042 0.418-0.4 0.392-1.801 1.891-2.011 2.114-0.489 0.521-0.758 0.936-0.63 1.449l0.561 3.074c0.128 0.514 0.691 0.936 1.252 0.936h16.312c0.561 0 1.124-0.422 1.252-0.936l0.561-3.074c0.126-0.513-0.142-0.928-0.632-1.449z"></path>
                </svg>
              </div>
              <div class="project__element project__status">
                <span class="status status--published">{{activity.category}}</span>
              </div>
              <div class="project__element project__setting">
                <button
                  class="setting setting--rotate focus--box-shadow"
                  type="button"
                  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
                >
                  <svg
                    enable-background="new 0 0 515.555 515.555"
                    height="512"
                    viewBox="0 0 515.555 515.555"
                    width="512"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                    />
                    <path
                      d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                    />
                    <path
                      d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                    />
                  </svg>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>Copy link</li>
                    <li nz-menu-item>Report post</li>
                    <li nz-menu-divider></li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
          </a>
        </li>
      </ul>
      </section>
    </main>
    <aside class="aside">
      <section class="section">
        <div class="aside__control">
          <button
            class="aside__button focus--box-shadow"
            type="button"
            aria-label="Close profile settings"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z"
              />
            </svg>
          </button>
          <button
            class="aside__button aside__button--notification focus--box-shadow"
            type="button"
            aria-label="You have new feedback"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M18,13.18V10a6,6,0,0,0-5-5.91V3a1,1,0,0,0-2,0V4.09A6,6,0,0,0,6,10v3.18A3,3,0,0,0,4,16v2a1,1,0,0,0,1,1H8.14a4,4,0,0,0,7.72,0H19a1,1,0,0,0,1-1V16A3,3,0,0,0,18,13.18ZM8,10a4,4,0,0,1,8,0v3H8Zm4,10a2,2,0,0,1-1.72-1h3.44A2,2,0,0,1,12,20Zm6-3H6V16a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z"
              />
            </svg>
          </button>
        </div>
        <div class="profile-main">
          <button
            class="profile-main__setting focus--box-shadow"
            type="button"
          >
            <img
              class="profile-main__photo"
              src="../../../../assets/img/kristan.jpg"
              alt="Profile photo"
            />
          </button>
          <h1 class="profile-main__name">Kristan</h1>
        </div>
        <ul class="statistics">
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Teams</a
            ><span class="statistics__entry-quantity">5</span>
          </li>
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Projects</a
            ><span class="statistics__entry-quantity">3</span>
          </li>
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Feedback</a
            ><span class="statistics__entry-quantity">48</span>
          </li>
        </ul>
        <div class="banner">
          <h3 class="banner__title">Premium access</h3>
          <p class="banner__description">Create teams without limits</p>
          <button class="banner__button" type="button">
            Get Premium Access
          </button>
        </div>
      </section>
    </aside>
  </div>
  <router-outlet></router-outlet>